<div id="help-bar" class="aligner">
    <div>
      <ul>
        <li ng-repeat="item in firstli">
          <a href="">{{ item }}</a>
        </li>
      </ul>
    </div>
    <div class="text-center">
      <i class="fas fa-phone"></i> 800-2345-6789
    </div>
    
    <div>      
      <div style="float: left;">        
        <input ng-model="search" placeholder="Search..." style="border-width: 0 0 1px; color: #e0e0e0; background: #333333;">
        <i class="fa fa-search"></i>        
      </div>  
      <div style="float: left; margin-left: 15px;">
        <md-input-container>
          <label>Currency</label>
          <md-select ng-model="currencies">
            <md-option >
              Dollars <md-icon ng_bind="'attach_money'"></md-icon>
            </md-option>
            <md-option >
              Euro <md-icon ng_bind="'euro_symbol'"></md-icon>
            </md-option>
          </md-select>
        </md-input-container>
      </div>  
      <div style="float: left; margin-left: 15px;">
        <md-input-container>
          <label>En</label>
          <md-select ng-model="currencies">
            <md-option >
              En
            </md-option>
            <md-option >
              Gr
            </md-option>
          </md-select>
        </md-input-container>
      </div>  
      <div style="float: right; margin-right: 15px;">
        <md-icon ng_bind="'vpn_key'" style="color: #ffffff"></md-icon>
      </div>
    </div>
  </div>
  <div id="nav-eshop" class="aligner">
    <div id="nav-just">
      <div id="logo">iShop</div>
      <div id="main-menu"></div>
      <div id="cart-menu"></div>
    </div>
  </div>

  <!-- nav test -->
  <div ng-controller="MainController as ctrl" class="aligner">
    <div id="nav2">
      <md-toolbar class="md-menu-toolbar">
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              File
            </button>
            <md-menu-content>
              <md-menu-item>Item 1</md-menu-item>
              <md-menu-item>Item 2</md-menu-item>
              <md-menu-item>Item 3</md-menu-item>
              <md-menu-item>Item 4</md-menu-item>
              <md-menu-item>Item 5</md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>Item 6</md-menu-item>
              <md-menu-item>Item 7</md-menu-item>              
            </md-menu-content>
          </md-menu>
          
        </md-menu-bar>
      </md-toolbar>
    </div>
  </div>

  <style>
      .text-center{ text-align: center; }
ul{ list-style: none; padding: 0px; margin: 0; }
li{ float: left; margin: 0px 25px; }
li a{ text-decoration: none; }
#help-bar{ background-color: #333333; color: #ffffff; line-height: 45px;}
#help-bar > div{ float: left; width: 33.3333%; }
#help-bar li a{
  color: #3883ff;
}
#help-bar li a:hover{
  color: #ffffff;
}
#help-bar md-input-container{
  margin: 0;
  padding: 0;
}
#help-bar .md-select-value, #help-bar .md-select-icon:after{
  color: #ffffff;
}
#nav-eshop{ background-color: #3883ff; line-height: 90px; }
#nav-just{ position: relative; margin: 0 25px; }
/* #nav-just > div{ 
  position: absolute; 
} */

/* content menu */
@media (min-width: 960px){
  #nav2 md-toolbar{
    background-color: greenyellow;
    display: inline-block;
    min-height: initial;
  }
  #nav2 .md-open-menu-container{
    width: 100%;
    background-color: black;
    color: white;
  }
}
  </style>