<div id="firstNav" class="aligner">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 py-2">
              <ul>
                  <li>HOME</li>
                  <li>CONTACT</li>
                  <li>SITEMAP</li>
                  <li>BLOG</li>
              </ul>
          </div>
          <div class="col-lg-4 text-center py-2" style="color: white"><i class="fas fa-phone"></i> 800-2345-6790</div>
          <div class="col-lg-4">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="input-group"> 
                          <input class="form-control py-2 border-right-0" 
                          type="search" placeholder="Search" 
                          style="background-color: black; color: grey; border-color: black;">
                          <div class="input-group-append"> 
                              <div class="input-group-text" id="btnGroupAddon2" 
                                  style="background-color: black; color: white; border-color: black;">
                                  <i class="fa fa-search"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 text-center py-2" >
                      <div class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;"><i class="fas fa-dollar-sign"></i> <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Dollars <i class="fas fa-dollar-sign"></i></a></li>
                              <li><a href="#">Euro <i class="fas fa-euro-sign"></i></a></li>
                              <!-- <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li> -->
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-2 text-center py-2">
                          <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">EN <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">EN <i class="fas fa-check"></i></a></li>
                                  <li><a href="#">EL</a></li>                                        
                              </ul>
                          </div>
                  </div>
                  <div class="col-lg-2 text-center py-2"><i class="fas fa-key" style="color: white;"></i></div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">E-Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Category</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-laptop"></i> LAPTOPS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <span class="text-uppercase text-white">LAPTOPS</span>
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                  </ul>
                  </div>
                  <!-- /.col-md-4  -->
                  <div class="col-md-4">
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                  </ul>
                  </div>
                  <!-- /.col-md-4  -->
                  <div class="col-md-4">
                    <a href="">
                      <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                    </a>
                    <p class="text-white">Short image call to action</p>
    
                  </div>
                  <!-- /.col-md-4  -->
                </div>
              </div>
              <!--  /.container  -->
    
    
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category 2
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <span class="text-uppercase text-white">Category 2</span>
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                  </ul>
                  </div>
                  <!-- /.col-md-4  -->
                  <div class="col-md-4">
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                  </ul>
                  </div>
                  <!-- /.col-md-4  -->
                  <div class="col-md-4">
                    <a href="">
                      <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                    </a>
                    <p class="text-white">Short image call to action</p>
    
                  </div>
                  <!-- /.col-md-4  -->
                </div>
              </div>
              <!--  /.container  -->

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category 3
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                   <span class="text-uppercase text-white">Category 3</span>
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                  </ul>
                  </div>
                  <!-- /.col-md-4  -->
                  <div class="col-md-4">
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link item</a>
                    </li>
                  </ul>
                  </div>
                  <!-- /.col-md-4  -->
                  <div class="col-md-4">
    
                    <a href="">
                      <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                    </a>
                    <p class="text-white">Short image call to action</p>
                    
                  </div>
                  <!-- /.col-md-4  -->
                </div>
              </div>
              <!--  /.container  -->
            </div>
          </li>
    
        </ul>
        <div class="myrnav my-2 my-lg-0">
          <div id="ex3">
            <span class="p1 fa-stack fa-2x has-badge" data-count="3">
              <i class="p2 fa fa-circle fa-stack-2x"></i>
              <i class="p3 fa fa-shopping-cart fa-stack-1x fa-inverse" data-count="5"></i>
            </span>
          </div>
        </form>
      </div>

    </nav>
<!-- End Navigation Bar -->