/* general */
.aligner{ width: 100%; float: left; }
ul{ list-style: none; padding: 0; margin: 0; }
 
a{
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#first-nav{ background-color: #000000; line-height: 45px;}
#first-nav li{ float: left; margin: 0px 15px; }
#first-nav li a{ color: #3883ff; text-decoration: none;}
#first-nav .col-md-4.text-center, #first-nav li a:hover{ color: #ffffff; }


/* content menu */
@media (min-width: 960px){
  body{
    background-color: #e0e0e0;
  }
}